<% if @errormsg %>
  <p><%= @errormsg %></p>
<% end %>

<div class='container'>
  <form name='new_event' action='/events/create' method='post'>
    <label>Event Title</label>
    <input name='title' type='text' placeholder="e.x. Event 1">
    <span><%= "#{flash[:email]}" %></span>

    <label>Event Date</label>
    <input type="text" placeholder="12/25/2018" class="datepicker">

    <label>Organizer Name</label>
    <input name='organizer_name' type='text' placeholder='Your Name'>

    <label>Organizer's Email</label>
    <input name='organizer_email' type='email' placeholder='your@email.com'>
    <br>

    <input type='submit' value='Create Event'>
  </form>
</div>
