<div class='container'>
  <form name='new_event' action='/events/create' method='post'>
    <label>Title</label></br>
    <input name='title' type='text' placeholder="e.x. Event 1"></br>

    <label>Date</label></br>
    <input name='date' type='date'></br>

    <label>Organizer Name</label></br>
    <input name='organizer_name' type='organizer_name' placeholder='Your Name'></br>

    <label>Organizer's Email</label></br>
    <input name='organizer_email' type='email' placeholder='your@email.com'></br>

    <input type='submit' value='Create Event'></br>
  </form>
</div>
